@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

.header {
  background-color: white;
  padding: 0.5px 12%;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 20px;
  margin-bottom: 10px;
}

#logo {
  font-family: "Caveat", cursive;
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
