.sideNav {
  font-size: 15px;
}

.sideNav ul {
  list-style: none;
  padding-left: 10px;
}

.sideNav li {
  padding: 5px 0;
  margin-bottom: 10px;
  line-height: 20px;
}

.sideNav h3 {
  color: #9aa5ac;
  font-size: 17px;
}

.sideNav a {
  color: #49545a;
  font-weight: 600;
  text-decoration: none;
}

.sideNav a:hover {
  color: #00f;
}

.sideNavList {
  cursor: pointer;
}
